<template>
    <div class="">
        <div class="Polaris-Page__Content">
            <div class="Polaris-Card">
                <div class="Polaris-Card__Header Polaris-Card__Header-meta">
                    <div class="Polaris-Stack Polaris-Stack--alignmentBaseline">
                        <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                            <h2 class="Polaris-Heading">Customers</h2>
                        </div>
                    </div>
                </div>

                <div class="Polaris-Card__Section">
<!--                    <div class="d-flex justify-content-between{">-->
<!--                        <div class="Polaris-Connected w-100">-->
<!--                            <div class="Polaris-Connected__Item Polaris-Connected__Item&#45;&#45;primary products-searchbar">-->
<!--                                <div class="Polaris-TextField Polaris-TextField&#45;&#45;hasValue">-->
<!--                                    <div class="Polaris-TextField__Prefix"><span-->
<!--                                        class="Polaris-Icon Polaris-Icon&#45;&#45;hasBackdrop" aria-label=""><svg-->
<!--                                        class="Polaris-Icon__Svg" viewBox="0 0 20 20"><path-->
<!--                                        d="M8 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm9.707 4.293l-4.82-4.82C13.585 10.493 14 9.296 14 8c0-3.313-2.687-6-6-6S2 4.687 2 8s2.687 6 6 6c1.296 0 2.492-.415 3.473-1.113l4.82 4.82c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414z"-->
<!--                                        fill="#95a7b7" fill-rule="evenodd"></path></svg></span></div>-->
<!--                                    <input type="search" v-model="search" name="search_keyword"-->
<!--                                           class="Polaris-TextField__Input browse_buy_product_search"-->
<!--                                           aria-invalid="false"-->
<!--                                           placeholder="Search title" autocomplete="off">-->
<!--                                    <div class="Polaris-TextField__Backdrop"></div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <button type="button" class="Polaris-Button Polaris-Button&#45;&#45;primary ml-16" v-on:click="getRecords(1)"><span-->
<!--                            class="Polaris-Button__Content"  v-model="search"><span-->
<!--                            class="Polaris-Button__Text">Search</span></span></button>-->
<!--                    </div>-->
<!--                    <div class="Polaris-Labelled__HelpText mb-15">Type at least 3 characters</div>-->
                    <div class="metafield-list">
                        <table class="w-100">
                            <thead>
                            <tr v-if="records.length > 0">
                                <th class="text-left">
                                    <h3><span class="Polaris-TextStyle--variationStrong">Name</span></h3>
                                </th>
                                <th class="text-left">
                                    <h3><span class="Polaris-TextStyle--variationStrong">Email</span></h3>
                                </th>
                                <th class="text-left">
                                    <h3><span class="Polaris-TextStyle--variationStrong">Last Updated At</span></h3>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="Polaris-ResourceItem" v-if="records.length > 0" v-for="(record, index) in records" :key="index">
                                <td class="csv-list">
                                    <div class="d-flex align-center">
                                        <p class="mb-0 text-capitalize">{{record.name}}</p>
                                    </div>
                                </td>
                                <td class="csv-list">
                                    <div class="d-flex align-center">
                                        <p class="mb-0">{{record.email}}</p>
                                    </div>
                                </td>
                                <td class="csv-list">
                                    <div class="d-flex align-center">
                                        <p class="mb-0">{{record.updated_at}}</p>
                                    </div>
                                </td>
                            </tr>
                            <tr v-else>
                                <td colspan="4" class="text-center">
                                    <svg style="fill: #c3cfd8;width: 80px;margin-bottom: 5px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M8 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm9.707 4.293l-4.82-4.82C13.585 10.493 14 9.296 14 8c0-3.313-2.687-6-6-6S2 4.687 2 8s2.687 6 6 6c1.296 0 2.492-.415 3.473-1.113l4.82 4.82c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414z"></path></svg>
                                    <h2 class="Polaris-Heading">Could not find any customers</h2>
                                    <p class="Polaris-TextStyle--variationSubdued">Try changing the filters or search term</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex mt-10 justify-content-center" v-if="records.length > 0">
                        <nav class="Polaris-Pagination" aria-label="Pagination">
                            <button :disabled="!prev_page" v-bind:class="{ 'Polaris-Button--disabled': !prev_page }" type="button"
                                    class="Polaris-Pagination__Button Polaris-Pagination__PreviousButton" aria-label="Previous"
                                    v-on:click="getRecords(prev_page+ '&s=' + search)"><span
                                class="Polaris-Icon"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                    <path
                        d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2"
                        fill-rule="evenodd"></path>
                    </svg></span></button>
                            <button :disabled="!next_page" v-bind:class="{ 'Polaris-Button--disabled': !next_page }" type="button"
                                    class="Polaris-Pagination__Button Polaris-Pagination__NextButton"
                                    aria-label="Next" v-on:click="getRecords(next_page + '&s=' + search)"><span class="Polaris-Icon"><svg
                                viewBox="0 0 20 20"
                                class="Polaris-Icon__Svg"
                                focusable="false" aria-hidden="true">
                    <path d="M17.707 9.293l-5-5a.999.999 0 1 0-1.414 1.414L14.586 9H3a1 1 0 1 0 0 2h11.586l-3.293 3.293a.999.999 0 1 0 1.414 1.414l5-5a.999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                    </svg></span></button>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

    export default {
        components: {

        },
        data() {
            return {
                search: '',
                records: [],
                next_page: '',
                prev_page: '',
            }
        },
        methods: {
            async getRecords(url) {
                let base = this;
                base.records = [];
                let endPoint = url;

                await axios.get(endPoint)
                    .then(res => {

                        var data = res.data.data;
                        base.records = data.customer;
                        base.next_page = data.next;
                        base.prev_page = data.prev;
                    })
                    .catch(err => {
                        console.log(err);
                    })
                    .finally(res => {
                    });
            },
        },
        created() {
            this.getRecords('/customer?s=' + this.search);
        },
    };
</script>
