.custom-box {
    background-color: #fff;
    padding: 1.6rem;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
}

.custom-row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.custom-row > * {
    padding-left: 8px;
    padding-right: 8px;
}

.area-settings-nav__item {
    width: 33.333%;
}

@media (max-width: 767px) {
    .area-settings-nav__item {
        width: 100%;
    }
}

.area-settings-nav__action {
    font-size: 1.4rem;
    display: -webkit-box;
    display: flex;
    width: 100%;
    border-radius: 3px;
    color: #212b36;
    text-decoration: none;
    padding: 1.2rem;
}

.area-settings-nav__action:hover {
    background-color: #f9fafb;
    text-decoration: none;
    outline: none;
}

.area-settings-nav__action:hover .area-settings-nav__media {
    background-color: #dfe3e8;
}

.area-settings-nav__media {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    width: 4rem;
    height: 4rem;
    margin-right: 1.6rem;
    border-radius: 3px;
    background-color: #f4f6f8;
}

.area-settings-nav__media .next-icon--size-20 {
    fill: #919eab;
    color: transparent;
    width: 20px;
    height: 20px;
}

.area-settings-nav__action:hover .area-settings-nav__title {
    color: #084e8a;
}

.area-settings-nav__title {
    font-weight: 600;
    margin: 0;
    color: #007ace;
}

.area-settings-nav__description {
    color: #637381;
    margin: 0;
}

.w-33 {
    width: 33.333%;
}

.w-25 {
    width: 25%;
}

.w-100 {
    width: 100%;
}

.d-flex {
    display: -webkit-box;
    display: flex;
}

.ml-16 {
    margin-left: 16px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 10px;
}

.mt-1 {
    margin-top: 0.5rem !important;
}

.align-end {
    -webkit-box-align: end;
    align-items: flex-end;
}

.justify-content-between {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.justify-content-center {
    -webkit-box-pack: center;
    justify-content: center;
}

.mt-16 {
    margin-top: 16px;
}

.Polaris-ResourceItem {
    position: relative;
    outline: none;
    cursor: pointer;
}

.Polaris-ResourceItem:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(223, 227, 232, 0.3)), to(rgba(223, 227, 232, 0.3)));
    background-image: linear-gradient(rgba(223, 227, 232, 0.3), rgba(223, 227, 232, 0.3));
}

.Polaris-ResourceItem__Link {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.Polaris-ResourceItem__Container {
    position: relative;
    z-index: 2;
    padding: 1.2rem 2rem;
    min-height: 4.4rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
}

.Polaris-ResourceItem__Media {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin-right: 2rem;
    color: inherit;
    text-decoration: none;
}

.Polaris-ResourceItem__Owned {
    display: -webkit-box;
    display: flex;
    align-self: flex-start;
}

.Polaris-ResourceItem__Content {
    min-width: 0;
    max-width: 100%;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    align-self: center;
}

.p-0 {
    padding: 0 !important;
}

.met-according {
    border-bottom: 0.1rem solid #dfe4e8;
}

.met-according-item {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: 0.1rem solid #dfe4e8;
}

.met-according-item h2 {
    font-size: 1.6rem;
    font-weight: 600;
}

.met-according-item i {
    font-size: 2rem;
}

.met-according-body {
    padding: 2rem;
}

.tag {
    position: relative;
    display: inline-block;
    border-radius: 0.3rem;
    margin-right: 0.5rem;
    padding: 0 1rem;
    line-height: 2.8rem;
    vertical-align: middle;
    background-color: #B4E1FA;
    color: #001429;
}

.item p {
    margin-bottom: 1.5rem;
}

.align-center {
    -webkit-box-align: center;
    align-items: center;
}

.mr-10 {
    margin-right: 10px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.border-radius-0 {
    border-radius: 0;
}

.mt-30 {
    margin-top: 30px;
}

.ui-icon {
    margin-top: 1.5em !important;
}

.tag-color {
    background-color: #c1c0d8;
}

.Polaris-Button {
    white-space: nowrap;
}

.ad-metafield-field {
    padding: 3px 10px;
}

.ad-metafield-field:not(:last-child) {
    border-right: 0.2rem solid #c4cdd5;
}

.ad-metafield-item {
    padding: 30px 20px;
}

.ad-metafield-item:not(:last-child) {
    border-bottom: 0.1rem solid #c4cdd5;
}

.export-import {
    display: -webkit-box;
    display: flex;
    color: #637381;
    text-decoration: none;
    font-size: 1.4rem;
    margin-right: 0.8rem;
    -webkit-box-align: center;
    align-items: center;
    padding: 0.8rem;
}

.export-import svg {
    color: transparent;
    fill: #637381;
    width: 20px;
    margin-right: 4px;
}

.custom-error {
    color: #f90000 !important;
}

.metafield-list {
    max-width: 100%;
    min-width: 100%;
    overflow-x: auto;
}

.metafield-list th {
    border-bottom: 1px solid #ebeef0;
    padding: 8px 10px;
    font-size: 1.4rem;
}

.metafield-list tr td {
    padding: 8px 10px;
    font-size: 1.4rem;
    border-bottom: 1px solid #ebeef0;
    white-space: nowrap;
}

.metafield-list tr:last-child td {
    border-bottom: 0;
}

.list-groups-div ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-groups-div ul li {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 1.6rem 2rem;
}

.list-groups-div ul li:not(:last-child) {
    border-bottom: 0.1rem solid #dfe3e8;
}

.list-groups-div ul li label {
    padding: 0;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 999;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    /* Modal Content */
    /* Add Animation */
    /* The Close Button */
}

.modal .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border-radius: 6px;
    width: 90%;
    max-width: 890px;
    max-height: calc(100vh - 60px);
    box-shadow: 0 2px 16px 0 rgba(32, 42, 54, 0.08);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.modal .close {
    font-size: 32px;
    position: absolute;
    top: 50%;
    right: 2rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #637381;
    z-index: 99;
    cursor: pointer;
}

.modal .modal-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    flex-shrink: 0;
    padding: 1.6rem 2rem;
    border-bottom: 0.1rem solid #c4cdd5;
    position: relative;
}

.modal .modal-header h1 {
    font-size: 2rem;
    line-height: 2.8rem;
}

.modal .modal-body,
.modal .model_body {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding: 2rem;
}

.modal .modal-footer {
    display: -webkit-box;
    display: flex;
    align-self: flex-end;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    min-height: 6.4rem;
    padding: 1.6rem;
    border-top: 0.1rem solid #c4cdd5;
}

.vue-dropzone {
    background-color: #fff !important;
    border: 0.1rem solid #c4cdd5 !important;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 rgba(99, 115, 129, 0.05);
}

.vdp-datepicker input {
    background-color: #fff;
    border: 0.1rem solid #c4cdd5;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 rgba(99, 115, 129, 0.05);
    min-height: 3.6rem;
    margin: 0;
    padding: 0.5rem 1.2rem;
    width: 100%;
}

.color-picker-component {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
}

.color-picker-component input {
    background-color: #fff;
    border: 0.1rem solid #c4cdd5;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 rgba(99, 115, 129, 0.05);
    min-height: 3.6rem;
    margin: 0;
    padding: 0.5rem 1.2rem;
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.color-picker-component .input-group-addon {
    margin-left: -1px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 6px 12px;
    color: #252525;
    background-color: #f4f8fb;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 rgba(99, 115, 129, 0.05);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    border: 0.1rem solid #c4cdd5;
}

.color-picker-component .input-group-addon .current-color {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #000;
    cursor: pointer;
}

.vc-chrome {
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 9;
}

.text-capitalize {
    text-transform: capitalize;
}

.mb-25 {
    margin-bottom: 25px;
}

.vdp-datepicker__calendar .cell {
    border-radius: 50%;
    display: -webkit-inline-box !important;
    display: inline-flex !important;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 42px !important;
}

.vdp-datepicker__calendar .cell:hover {
    border-color: #3f4eae !important;
}

.vdp-datepicker__calendar .cell.selected {
    background-color: #3f4eae !important;
    color: #fff;
}

.Polaris-Card__Header-meta {
    padding: 2rem 1rem 2rem 2rem;
}

@media (max-width: 767px) {
    .d-xs-block {
        display: block !important;
    }

    .Polaris-Page {
        padding: 0 15px;
    }

    .mb-xs-15 {
        margin-bottom: 15px;
    }

    .mb-xs-10 {
        margin-bottom: 10px;
    }

    .justify-content-xs-end {
        -webkit-box-pack: end;
        justify-content: flex-end;
    }

    .tag-list {
        flex-wrap: wrap;
    }

    .tag-list .tag {
        margin: 0;
        margin-bottom: 0.5rem;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        width: 100%;
    }

    .met-according-item {
        padding: 1rem;
    }

    .ad-metafield-item {
        padding: 1rem;
    }

    .icon-dragn {
        display: none !important;
    }

    .metafield-item {
        width: auto;
    }

    .metafield-item .w-25 {
        width: 100%;
        margin-bottom: 1rem;
    }

    .ml-xl-0 {
        margin-left: 0;
    }

    .mobile-remove-btn .Polaris-Label {
        display: none;
    }
}

button.Polaris-ActionList__Item.nh:hover {
    background: #5c6ac4;
    color: white;
}

.hide-box-shadow {
    box-shadow: none;
}

.menu-icons {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}

